<div>
  <table class="file-table">
    <tr>
      <th>
        <!-- checked -->
      </th>
      <th>Name</th>
      <th>Device</th>
      <th>Path</th>
      <th>Status</th>
    </tr>
    <tr *ngFor="let file of files">
      <td>
        <input (click)="toggleSelection(file)" type="checkbox" name="" />
      </td>
      <td>
        {{ file.name }}
      </td>
      <td>
        {{ file.device }}
      </td>
      <td>
        {{ file.path }}
      </td>
      <td>
        <span class="case-capitalize">{{ file.status }}</span>
      </td>
    </tr>
  </table>
</div>

{{ selectedFiles | json }}
